{% extends "mainmenu.html" %}


{%  block content %}
    {% include 'navmain.html' %}
    {% if context %}

     <table align="center">

         <tr align="center"><th><h6><img src="{{ context.timage}}" height="600" width="500" ></h6></th>
             <th align="center" width="300"><h6><h5> Title:</h5>{{ context.l }}</h6></th>
         <th align="center" width="300"><h6><h5>Stars:</h5> {{ context.s }}</h6></th>
         <th align="center" width="300"><a href="{% url 'detail_view' context.id %}" >More Details</a> </th></tr>




     </table>
    {% elif message%}

        <h4 align="center" style="padding-top: 200px">{{ message }}</h4>
    {% endif %}

{% endblock content %}